h1,h2,h3,h4,h5,h6,.h7,.h8,.h9,.h10,.h11,.h12,.h13,.h14,Front, Back, .h16{
    font-family: sans-serif;
    
}
.programa{
    
}
.wrapper{
    width: 70%;
    margin: auto;
    text-align: justify;
}
h1{
    color: darkcyan;
    font-style: italic;
    font-size: 20px;
    background-color: rgba(211, 211, 211, 0.705);
    padding: 20px;
    border-top: solid 10px darkcyan;
    width: 400px;
}
h2{
    font-size: 13px;
    margin: 10px;
    padding: 5px;
}
h3{
    font-size: 30px;
    font-weight: bold;
    color: darkcyan;
    margin: 20px;
}
h4{
    font-weight: normal;
    font-size: 13px;
    color: black;
}
nome{
    font-weight: bold;
    color: darkcyan;
}
h5{
    font-size: 15px;
    font-weight: normal;
    color: grey;
}
h6{
    font-size: 25px;
    color: darkcyan;
    margin: 20px;
}
.h7{
    color: grey;
}
H, T, M, L, PP, AA, HREF, TARGET, SELF, BARRA, N1, N2, HREF1, Back,.h14{
    font-weight: bold;
    color: darkcyan;
}
.h8{
    color:grey;
}
.h9{
    color:grey;
}
.h10 {
    color: grey;
}
.h11 {
    color: darkcyan;
}
.h12 {
    color: grey;
}
.h13{
    color: grey;
}
Front{
    color: grey;
}
.botao1:hover {
    font-size:15px;
}
.botao2:hover {
    font-size: 15px;
}
.botao3:hover {
    font-size: 15px;
}